<div class="card-container">
  <div class="job-card">
    <span>2d ago - Part time</span>
    <h2>Senior Software Engineer</h2>
    <span>Lumiplan</span>
    <h3>Russia</h3>
  </div>
  <div class="job-card">
    <span>2d ago - Part time</span>
    <h2>Senior Software Engineer</h2>
    <span>Lumiplan</span>
    <h3>Russia</h3>
  </div>
  <div class="job-card">
    <span>2d ago - Part time</span>
    <h2>Senior Software Engineer</h2>
    <span>Lumiplan</span>
    <h3>Russia</h3>
  </div>
  <div class="job-card">
    <span>2d ago - Part time</span>
    <h2>Senior Software Engineer</h2>
    <span>Lumiplan</span>
    <h3>Russia</h3>
  </div>
</div>
